<div class="prop-index btns">
  <h2>All Properties</h2>
  <%= form_tag search_path, :method => 'get', :class=> 'form-signin' do %>
  <%= text_field_tag :search_name, params[:search_name], :class => 'form-control', :placeholder => 'search by suburb' %>
  <div class="btnss">
    <div class="btn-group">
      Bedrooms:<%= select_tag "bedrooms",options_for_select(['',1,2,3,4,5], :class => "dropdown-menu") %>
    </div>
    <%= submit_tag "Search", :class=> 'btn btn-warning btn-sm' %>
  </div>
<% end %>
<div class="btns">
  <% @properties.each do |property| %>
    <%= button_to property.name, property_path(property.id), method: :get, :class => "btn btn-outline-info btn-lg btn-block" %>
  <% end %>
</div>
</div>
