<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img">
          <rect width="100%" height="100%"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <div class="carousel">
              <%= image_tag ('wallPicThree.png') %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img">
          <rect width="100%" height="100%"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <div class="carousel">
              <%= image_tag ('wallPicTwo.png') %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img">
          <rect width="100%" height="100%"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-right">
            <div></div>
            <div class="carousel">
              <%= image_tag ('wallPicOne.jpg') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag 'homeFive.png', :class => "rounded-circle" %>
        <rect width="100%" height="100%" fill="#777"></rect>
        <text x="50%" y="50%" fill="#777" dy=".3em">Moon-corp</text>
        <h2>Home Loans</h2>
        <p>Our low rate, low fee loan Our lowest variable interest rate just got lower!Make an offer on a property with more confidence. Pre-approval is 100% fee-free and obligation free.We're here to help our Home Loan customers and provide you the best
          support during COVID-19.you will join thousands of customers across Australia,so far saved over $8 million</p>
        <p>
          <a
            class="btn btn-secondary"
            href="https://www.suncorp.com.au/banking/loans/home-loans/basic-campaign.html?cmpid=SUN:BK:PL:HLN:SEM:20171205:5242&ds_rl=1265354&gclid=CjwKCAjwps75BRAcEiwAEiACMcuOHg2mWFA9zuuI_u0RyQYlAO1h2YygmMKMQKVOAIC298u4aIwVRRoCKsUQAvD_BwE&gclsrc=aw.ds"
            role="button"
            target="_blank">View details »</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag 'homeFour.jpg', :class => "rounded-circle" %>
        <rect width="100%" height="100%" fill="#777"></rect>
        <text x="50%" y="50%" fill="#777" dy=".3em">Spend Less</text>
        <h2>Home & contents Insurance</h2>
        <p>Hey, spending more time at home? Get 10% temporary relief on your home & contents. Get relief on your home & contents today. Insurance coverage: Building & Contents, Building, Contents, Landlord, When a disaster occurs.Insurance That Listens fire, storms and other natural disasters</p>
        <p>
          <a
            class="btn btn-secondary"
            href="https://www.youi.com.au/home-insurance?src1=202337&lid=43700010340182825&ds_s_kwgid=58700001164727290&&43700010340182825&p10340182825&ds_e_adid=446008096039&ds_e_matchtype=search&ds_e_device=c&ds_e_network=g&&ds_url_v=2&kw_id=p10340182825&gclid=CjwKCAjwps75BRAcEiwAEiACMRAuq6b-hhRa3hk4UTAoWHGaZf8LQH2kvTEDkkMABOzJT8QhIxT_ghoC3MYQAvD_BwE&gclsrc=aw.ds"
            target="_blank"
            role="button">View details »</a>
        </p>
      </div>

      <div class="col-lg-4">
        <%= image_tag 'homeThree.jpg', :class => "rounded-circle" %>
        <rect width="100%" height="100%" fill="#777"></rect>
        <text x="50%" y="50%" fill="#777" dy=".3em">Awesome offers</text>
        <h2>Landlord insurance</h2>
        <p>
          If you are a landlord, you have some additional risks to your property that you should cover to protect your investment. Landlord building and contents insurance usually covers your building against risks from catastrophes. It will usually include
          cover for the fixtures such as light fittings, carpets, ovens, stovetops and window coverings.</p>
        <p>
          <a class="btn btn-secondary" href="https://understandinsurance.com.au/types-of-insurance/landlord-and-renters-insurance" target="_blank" role="button">View details »</a>
        </p>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">From the makers of Central Park Sydney
          <span class="text-muted">It will blow your mind.</span></h2>
        <p class="lead">, Ed.Square brings inner city edge, but with so much more than you expected. Located in the heart of Edmondson Park in Sydney's booming South West, Ed.Square is a diverse urban neighbourhood of restaurants and cafes; shopping and
          entertainment;adjacent to the Edmondson Park train station and all within walking distance from your own front door.Coles, Events Cinemas, Anytime Fitness.With 120 new shops, a new Eat Street and a fresh food marketplace, why not make Ed.Square your
          new home.
          <%= link_to 'Sign Up', new_user_path%>
          for more details</p>
      </div>
      <div class="col-md-5">
        <%= image_tag 'homeThree.jpg', :class => "featurette-image img-fluid mx-auto"%>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Apartment with balcony & lock-up garage
          <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Sleek Oversized Beach Pad - 2 bedroom Situated amongst picturesque trees at the quiet end of Hall Street, this chic beachside haven has been partially renovated and is waiting for your finishing touches. North facing living spaces are
          both open plan and private, while the balcony is perfect for entertaining outdoors. Located in minute's walk to cafes, village shops, transport and the bustling beachfront its proximity is outstanding.
          <%= link_to 'Sign Up', new_user_path%>
          for more details</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag 'home_One.jpg', :class => "featurette-image img-fluid mx-auto"%>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one.
          <span class="text-muted">OAKGATE</span></h2>
        <p class="lead">
          A stunning lifestyle investment with 3 income streams. This divine 106 acre property is situated on a quiet tar sealed country road, just minutes drive from the Freemans Waterhole Interchange of the Pacific Motorway, making it an excellent place to
          live permanently or a convenient weekend retreat.
          <%= link_to 'Sign Up', new_user_path%>
          for more details</p>
      </div>
      <div class="col-md-5">
        <%= image_tag 'home.jpg', :class => "featurette-image img-fluid mx-auto"%>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>

  <footer class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>© 2017-2020 Company, Inc.
    </p>
  </footer>
</main>
