
<div class="container-fluid">
<div class="row">


  <div class="col align-self-start">

  <h2>
    <%= @property.name %>
    <span><%= image_tag ('real-estate.png') %></span>
  </h2>

  <%= link_to 'Edit Property', edit_property_path(@property.id) %>
  |
  <%= link_to 'Delete Property', property_path(@property.id), method: 'delete' %>

  <br>

  <p>
    <strong>Name:</strong>
    <%= @property.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @property.address %>
  </p>

  <p>
    <strong>Price</strong>
    $<%= @property.price %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= @property.rooms %>
    <span class="icons"><%= image_tag ('bed.svg') %></span>

  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= @property.bathrooms %>
    <span class="icons"><%= image_tag ('bath.svg') %></span>
  </p>
</div>
<div class="col prop-main-photo">
  <%= cl_image_tag @property.image%>
</div>
</div>
</div>
