
<div class="container-fluid">
<div class="row">


  <div class="col align-self-start">

  <h2>
    <%= @property.name %>
    <span><%= image_tag ('real-estate.png') %></span>
  </h2>

  <%= link_to 'Edit Property', edit_property_path(@property.id) %>
  |
  <%= link_to 'Delete Property', property_path(@property.id), method: 'delete' %>

  <br>

  <p>
    <span class="icon"><%= image_tag ('agenda.png') %></span>
    <%= @property.address %>
  </p>

  <p>
    <span class="icon"><%= image_tag ('coin.png') %></span>
    $<%= @property.price %>
  </p>

  <p>
    <span class="icons"><%= image_tag ('bed.svg') %></span>
    <%= @property.rooms %>

  </p>

  <p>
    <span class="icons"><%= image_tag ('bath.svg') %></span>

    <%= @property.bathrooms %>
  </p>
  <p>
    <span class="icons"><%= image_tag ('car.png') %></span>
    <%= @property.garage %>
  </p>
</div>
<div class="col prop-main-photo">
  <%= cl_image_tag @property.image%>
</div>
</div>
</div>
