<div class="prop-show">

<h2> <%= @property.name %> </h2>

<%= link_to 'Edit Property', edit_property_path(@property.id) %>
|
<%= link_to 'Delete Property', property_path(@property.id), method: 'delete' %>

<br>

<p>
  <strong>Name:</strong> <%= @property.name %>
</p>

<p>
  <strong>Address:</strong> <%= @property.address %>
</p>

<p>
  <strong>Price</strong> <%= @property.price %>
</p>

<p>
  <strong>Rooms:</strong> <%= @property.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong> <%= @property.bathrooms %>
</p>

<% if @property.image.present? %>
  <%= image_tag @property.image, alt: @property.name, class: 'property' %>
<% end %>
</div>
