<div class="container-fluid">
  <div class="row">
    <div class="col align-self-start spaces">
      <h2>
        <%= @property.name %>
        <span><%= image_tag ('real-estate.png') %></span>
      </h2>
      <% if @current_user.present? && @current_user.admin? %>
        <%= link_to 'Edit Property', edit_property_path(@property.id) %>
        |
        <%= link_to 'Delete Property', property_path(@property.id), method: 'delete' %>
      <% end %>
      <br>
      <div>
      <% @property.photos.each do |photo| %>
      <%= cl_image_tag photo.image, :class => "img-fluid img-thumbnail"%>
      <br>
      <% end %>
    </div>

      <p>
        <span class="icon"><%= image_tag ('agenda.png') %></span>
        <%= @property.address %>
      </p>
      <p>
        <span class="icon"><%= image_tag ('coin.png') %></span>
        $<%= @property.price %>
      </p>
      <p>
        <span class="icons"><%= image_tag ('bed.svg') %></span>
        <%= @property.rooms %>
      </p>
      <p>
        <span class="icons"><%= image_tag ('bath.svg') %></span>
        <%= @property.bathrooms %>
      </p>
      <p>
        <span class="icons"><%= image_tag ('car.png') %></span>
        <%= @property.garage %>
      </p>
    </div>

  </div>
  <div class="row">
      <% if @property.broker.present? %>
        <div class="col space">
          <h2>
            <strong>Broker Details</strong>
          </h2>
          <p>
            <span class="icon">
              <strong>Name:</strong><%= @property.broker.name %>
            </p>
            <p>
              <span class="icon">
                <strong>Agency:</strong><%= @property.broker.agency %>
              </p>
              <p>
                <strong>Contact Number:</strong><%= @property.broker.phno %>
              </p>
              <p>
                <strong>Email-Id:</strong><%= @property.broker.mailid %>
              </p>
              <div class="col">
                <%= cl_image_tag @property.broker.image, :class => "rounded-circle"%>
              </div>
            <% end %>
        </div>
      </div>
      <div >
        <%= button_to 'Back', properties_path, method: :get, :class => "btn btn-light" %>
      </div>
    </div>
